/* Fonts styles */
.author__bio, .author__urls, body, html, p, li, span, div {
  font-family: 'Lato', sans-serif;
}

.toc .nav__title, .author__name, .site-title, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Font size of body text */
body, html, p, li, span, div {
  font-size: 18px;
  line-height: 1.5;
}

/* Change size and color of site title */
.site-title {
  font-size: 1.5rem;
  color: #000;
}

/* Change icon color of header */
.site-nav-toggle, .search__toggle {
  color: #000;
}

/* TOC styles */
.toc .nav__title {
  font-size: 0.95rem;
  background-color: #000000; /* Fondo negro solo para encabezado */
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

/* TOC link styles */
.toc .toc__menu a {
  display: block;
  background-color: #ffffff;    /* fondo blanco */
  color: #000000;               /* texto oscuro */
  font-size: 0.90rem;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;
}

/* TOC hover and active link styles */
.toc .toc__menu a:hover,.toc .toc__menu .active > a {
  background-color: #f0f0f0;   /* gris claro */
  color: #000000;
}

/* Ajuste de tamaño según nivel (opcional y sutil) */
.toc .toc__menu > li > a {
  font-weight: 600;
}
.toc .toc__menu > li > ul > li > a {
  padding-left: 24px;
  font-size: 0.85rem;
  font-weight: bold;
}
.toc .toc__menu > li > ul > li > ul > li > a {
  padding-left: 32px;
  font-size: 0.8rem;
}

/* Organise pictures */
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.align-right {
  float: right;
  margin-left: 20px;
  max-width: 100%;
}

.align-left {
  float: left;
  margin-right: 20px;
  max-width: 100%;
}
